{% extends 'layout.html' %}

{% block page_content %}

<div id="cert_admin_view" class="container">
    <!-- General -->
    <div class="">
        <!-- Usages -->
        <div class="m-3 p-3">
        <h2>SSL WEB APP CERTIFICATE PROPERTY</h2>
        </div>
    
        <div id="certificate" class="card p-5">
        <div>
            <button type="button" class="btn btn-outline-info mb-3">DOWNLOAD</button>
            <div class="alert alert-warning" role="alert">Editing not allowed. To edit or delete certificate, please log in as admin.</div>
        </div>
        <!-- Subject -->
        <div class="card text-white bg-transparent border-info mb-3">
            <div class="card-header">
                Subject
            </div>
            <div class="card-body">
            <div>
                <div class="card-title">Common Name (CN)</div>
                <div class="card-text">{{ cert_subject_cn }}</div>
            </div>
            <div>
                <div class="card-title">Organisation (O)</div>
                <div class="card-text">{{ cert_subject_o }}</div>
            </div>
            <div>
                <div class="card-title">Organisational Unit (OU)</div>
                <div class="card-text">{{ cert_subject_ou }}</div>
            </div>
            <div>
                <div class="card-title">Location (L)</div>
                <div class="card-text">{{ cert_subject_l }}</div>
            </div>
            <div>
                <div class="card-title">Site (S)</div>
                <div class="card-text">{{ cert_subject_s }}</div>
                </div>
            <div>
                <div class="card-title">Country (C)</div>
                <div class="card-text">{{ cert_subject_c }}</div>
            </div>
            </div>
        </div>

        <!-- Issued by -->
        <div class="card text-white bg-transparent border-info mb-3">
            <div class="card-header">
                Issuer
            </div>
            <div class="card-body">
            <div>
                <div class="card-title">Common Name (CN)</div>
                <div class="card-text">{{ cert_issuer_cn }}</div>
            </div>
            <div>
                <div class="card-title">Organisation (O)</div>
                <div class="card-text">{{ cert_issuer_o }}</div>
            </div>
            <div>
                <div class="card-title">Organisational Unit (OU)</div>
                <div class="card-text">{{ cert_issuer_ou }}</div>
            </div>
            <div>
                <div class="card-title">Location (L)</div>
                <div class="card-text">{{ cert_issuer_l }}</div>
            </div>
            <div>
                <div class="card-title">Site (S)</div>
                <div class="card-text">{{ cert_issuer_s }}</div>
            </div>
            <div>
                <div class="card-title">Country (C)</div>
                <div class="card-text">{{ cert_issuer_c }}</div>
            </div>
            </div>
        </div>
        
        <!-- Validity -->
        <div class="card text-white bg-transparent border-info mb-3">
            <div class="card-header">
                Validity Period
            </div>
            <div class="card-body">
            <div>
                <div class="card-title">Issued On</div>
                <div class="card-text">{{ cert_issued_on }}</div>
            </div>
            <div>
                <div class="card-title">Expires On</div>
                <div class="card-text">{{ cert_expires_on }}</div>
            </div>
            </div>
        </div>

        </div>
    </div>
</div>

{% endblock %}